.image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    box-sizing: content-box;
}
.image{
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 50%;
    border-image-repeat: stretch;
}

.upload-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}